.quoteCard {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.quoteCard__title {
  margin: 30px auto;
  font-size: 30px;
  -webkit-text-stroke: 2px #ff8d29;
  color: white; 
  width: 250px;
}

.quoteCard__btn {
  background-color: #ff9a57;
  padding: 8px 10px;
  border-radius: 8px;
  border-color: #803300;
  color: #803300;
}

.quoteCard__btn:hover {
  background-color: #f4b65e;
  cursor: pointer;
}

.quoteCard__phrase {
  margin: 30px auto;
  height: 200px;
  width: 350px;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #4791ff;
  color: #474747;
  font-weight: 200;
  font-size: 14px;
}

.quoteCard__footer {
  background-color: rgba(255, 232, 189, 0.65);
  margin: 0 auto;
  padding: 10px;
  border-radius: 2px;
  width: 300px;
  color: #474747;
  font-size: small;
}

@media (max-width: 380px) {
  .quoteCard__phrase {
    max-width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
}
